body {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

.body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: linear-gradient(to top, #535353, #343434);
  padding: 50px 10px 30px 10px;
  display: grid;
  place-items: center;
}

.header-box{
    width: min(70%, 850px);
}

.title {
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: white;
  margin: 0px;
  margin-top: 20px;
}

.subtitle {
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: white;
  margin: 0px;
  margin-top: 10px;
  margin-left: 20px;
}

.logo-fct{
  float: right;
  position: relative;
  height: auto;
  width: auto;
  max-width: 200px;
  border-radius: 10px;
}

.divider {
  height: 30px;
  background-color: #323131;
}

.minor-title{
  font-size: 25px;
  margin: 0;
  margin-top: 20px;
}

.minor-subtitle{
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  opacity: 50%;
}

.content {
  display: grid;
  place-items: center;
  background-image: url("../img/Background 2.jpg");
  padding-top: 40px;
  padding-bottom: 60px;
}

.box {
  width: min(70%, 850px);
  padding: 20px 70px 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}
.container {
  position: relative;
  width: 10%;
  display: grid;
  place-items: center;
  height: 200px;
  width: 140px;
}

.profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
  opacity: 1;
  display: block;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 20px;
}

.project {
  padding-top: 30px;
  padding-bottom: 20px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.btn {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {opacity: 0}
  to {opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
