.container {
  position: relative;
  width: 10%;
  display: grid;
  place-items: center;
  padding: 1% ;
}

.image {
  opacity: 1;
  display: block;
  height: 200px;
  width: 140px;
  transition: .5s ease;
  object-fit: cover;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
}